body {
  font-family: 'Archivo', sans-serif;
  min-height: 100%;
  background-image: url(../../img/mainView.jpg)!important;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  color: white;
}

img {
  margin-left: 53em;
}