.movie-view {
  flex: auto
}

.nav-link {
  color: rgb(0, 110, 255) !important;
}

.navbar-wrapper {
padding-right: 50px;
}

img {
  position: absolute;
    left: 48%;
    margin-left: -50px !important; 
    display: block;
}

.main-view {
  margin-top: 15%;
  background:
  black;
  width: 25em;
  height: 25em;
  position: absolute;
    left: 41%;
    margin-left: -50px !important; 
    display: block;
}

form {
  max-width: 100%;
}