.movie-view {
  flex: auto;
}

.nav-link {
  color: rgb(0, 110, 255) !important;
}

.navbar-wrapper {
padding-right: 50px;
}

.navbar-brand {
  color: rgb(141, 141, 10) !important;
  margin-left: 56% !important; 
  font-size: 9vw;
  animation: glow 1s ease-in-out infinite alternate;
  font-family: 'Limelight', cursive;
}

@keyframes glow {
  from {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #0073e6, 0 0 20px #0073e6, 0 0 25px #0073e6, 0 0 30px #0073e6, 0 0 35px #0073e6;
  }
  to {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #0073e6, 0 0 40px #0073e6, 0 0 50px #0073e6, 0 0 60px #0073e6, 0 0 70px #0073e6;
  }
}

img {
  position: absolute;
    left: 48%;
    margin-left: -50px !important; 
    display: block;
}

/*.main-view {
  margin-top: 1%;
  background:
  black;
  position: absolute;
    left: 41%;
    margin-left: -50px !important; 
    display: block;
}*/

form {
  max-width: 100%;
}

.ml-auto {
  margin-top: -11%;
  display: unset;
}

.main-view {
  position: relative;
  width: 22%;
  padding: 25px 0;
  max-width: 950px;
  margin: 0 auto;
  text-align: center;
  z-index: 1;
}

@media only screen and (max-width: 1200px) {
  .main-view {
    width: 50%;
    margin-top: 10%;
  }
  .navbar-brand {
    margin-left: 30% !important;
  }

}
  @media only screen and (max-width: 1000px) {
    .main-view {
      width: 80%;
      margin-top: 30%;
    }
    .navbar-brand {
      margin-left: 30% !important;
    }
}
